{% include 'header.html' %} {% include 'navbar.html' %}
<style>
    body {
        text-align: center;
    }
    
    .verde {
        color: darkgreen;
    }
    
    p {
        color: darkblue;
        font-size: 18px;
    }
    
    .preto {
        font-size: 14px;
        color: black;
    }
</style>
<div class="container" style="margin-top: 1em;">
    <strong>
        <h1 class="verde">Bem-vindo a aplicação FastApi!</h1>
        <p>Este aplicativo irá ajudá-lo a controlar e registrar suas tarefas.</p>
        <p>Para começar, crie uma conta ou faça o login.</p>
        <p class="preto"> Nome = Lucas Silva | Whatsapp = 7498119910</p>
    </strong>

</div>
{% include 'footer.html' %}